html {
    height: 100%;
    width: 100%;
}
body {
    background: url(Images/ict_background.jpg)repeat fixed center;
    background-size: cover;
}
li a:hover {
    border-bottom: 3px solid rgb(127, 214, 255);
}
#inleiding {
    margin-top: 9rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12.9rem;
    width: 70%;
    border: 4px solid rgb(78, 122, 218);
    padding: 3rem;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
}
#info, #aboutus, #faq, #contact {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    width: 87%;
    border: 4px solid rgb(78, 122, 218);
    padding: 3rem;
    background: rgba(255, 255, 255, 0.9);
}
#onze_school {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#overons, #faq, #form, #aboutus, #info {
    text-align: center;
}
.cool {
    color: rgb(57, 188, 228);
    width: 100%;
    text-align: center;
}
.cool:hover {
    color: rgb(109, 228, 255);
}
#contact {
    text-align: center;
}
.container {
    margin: 0 auto;
    padding: 5%;
}
form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
    padding: 20px 0;
    text-align: center;
}
input,
textarea,
label {
    display: block;
    margin: 0 auto;
    width: 100%;
    color: #828282;
}
input,
textarea {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #828282;
}
input[type=submit] {
    background-color: #545557;
    padding: 15px 0;
    color: white;
    font-size: 18px;
    border-bottom: none;
    margin-top: 30px;
    cursor: pointer;
    transition: all .3s ease;
}
input[type=submit]:hover {
    background: rgba(64, 121, 207, 0.726);
    color: #1b1c1e;
}
input,
textarea {
    color: black;
    font-size: 18px;
    padding: 10px;
    text-align: center;
}
input:focus,
textarea:focus {
    outline: 1px solid #828282;
}
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255);
    white-space: nowrap;
    margin-top: 2rem;
}