html {
    height: 100%;
    width: 100%;
}
body {
    background-image: url("Images/ict_background.jpg");
    background-size: cover;
}
li a:hover {
    background-color:rgb(127, 214, 255);
}